
/*note begin*/
.noteList{
}
.noteItem{
    height: 140px;
    overflow: hidden;
    transition:all 0.5s;
}
.noteItem:hover{
    height:235px;
}
.noteItem h4 a{
   color: #b04ba0;
}
.noteItem small{

}
.noteItem p{

}

/*note end*/

