body,
div,
span,
input,
footer {
    margin: 0;
    padding: 0;
}

img {
    border: 0
}

td {
    font-size: 14px
}

a {
    color: #235;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1 {
    margin: 0;
    padding-top: 5px;
    /*font-size: 1.8em;*/
    margin-left: 5px
}

h1 a:visited,
h1 a:active,
h1 a:link,
h1 a:hover {
    color: #fff;
    margin-top: 10px;
    text-decoration: none
}

h2 {
    margin-top: 10px;
    /*font-size: 1em*/
}

h5 {
    margin: 0;
    padding: 0
}

h4 {
    font-size: 29px;
    font-weight: normal;
}

html {
    width: 100%;
    display: table;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #a5a5a5;
    background: #fff;
    font-family: Times, Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#app {
    height: 100%;
    /*rgb(235,235,235);*/
}

.container {
    width: 60%;
    min-width: 1280px;
    margin: 0 auto;
}

@media (max-width:1366px) {
    .container {
        width: 60%;
        min-width: 968px;
        margin: 0 auto;
    }
}


/***********滚动条样式***********/

::-webkit-scrollbar {
    width: 20px;
    height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .3) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

code {
    background: #3ea;
}
